<form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
    <div id="cont">
      <h2>Выберете ваши интересы</h2>
      <div *ngFor="let data of names; let i=index" class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [value]="data" (change)="onCheckboxChange($event)" />
          {{data}}
        </label>
      </div>

  <input type="submit" value="Отправить" style="margin-top: 30px; margin-left: 20px">
    </div>
</form>
